body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
  background: linear-gradient(180deg, rgb(164, 109, 210) 50%, rgba(104,197,207,0.9808298319327731) 100%);
  height: 100vh;
  color: white;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0,0.7);
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.49);
}

@media screen and (max-width: 912px) {
  .container {
    width: 75%;
  }
}

.tareasList {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 2px solid grey;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.fas.fa-plus-circle {
  position: relative;
  top: 5%;
  left: 5%;
  font-size: larger;
  color: #ffffff;
}

.btn-add {
  padding: 5px 15px;
  color: white;
  border: 2px solid grey;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  background-color: rgb(51, 184, 102);
  font-size: 1.4rem;
  outline: none;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-add:hover {
  background-color: #3ce76f;
  cursor: pointer;
}

.btn-add:active{
  transform: scale(.98)
}

.empty {
  color: rgba(40, 40, 40, 0.8);
  font-weight: 600;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #8159ad;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.49);
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #8159ad;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 13%;
  font-size: 1.2rem;

}

.btn-delete:hover {
  background-color: #e74c3c;
  cursor: pointer;
}
